.block{
    display: flex;
    align-items: center;
}

.star{
    margin: 10px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid black;
}
.star img{
    width: 20px;
    color: red;
}

.teg{
    margin: 10px;
}
